[submodule ".dotfiles-submodules/base16-shell"]
	path = .dotfiles-submodules/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".dotfiles-submodules/vim-plug"]
	path = .dotfiles-submodules/vim-plug
	url = git@github.com:junegunn/vim-plug.git
