FormatStyle: file
Checks: |
    *,
    -cert-dcl03-c,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -fuchsia-statically-constructed-objects,
    -google-readability-todo,
    -google-runtime-references,
    -llvm-else-after-return,
    -llvm-header-guard,
    -llvmlibc-callee-namespace,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -misc-no-recursion,
    -modernize-use-trailing-return-type,
    -readability-else-after-return,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix,
